body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}   


h1 {
    font-family: 'Dosis', sans-serif;
    color: #3F3D56;
    font-size: 32px;
    font-weight: 500;

}



h1 span {
    color: #EE24FF;
}



p {
    color:  #828282;;
    font-weight: 400;
    font-size: 15px;
}



p span {
    color: #828282;
    font-weight: 700;
    font-size: 15px;
}


p strong {
    color: #3F3D56;
}


#footer a {
    font-weight: bold;
    color: #3f3d56;
    text-decoration: none;
    line-height: 20px;
}


#footer a + a {
    color: #3F3D56;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    margin-left: 42px;
    line-height: 70px;
    
    
}

#footer a:hover {
    transition: 0.5s;
    color: violet;
}



#footer a + a:hover {
    transition: 0.5s;
    color:violet; 
}




#wave {
    position: absolute;
    width: 100vw;
    bottom: 0;
    right: 0;
    height: 100px;  
}
